/* essential variables */
:root{
    --primary-color: #E02C6D;
}

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}
/* navigation styling */
nav{
    font-family: 'Poppins', sans-serif;
}
.top-navigator{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.top-navigator .logo a{
    color: black;
    margin: 0;
    text-decoration: none;
}
.top-navigator .logo a h3{
    font-size: 24px;
}
.top-navigator .nav-link a{
    font-size: 16px;
}

.nav-link {
    color: black;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    
  }

#nav-link{
      margin-right: 50px;
  }
  .logo{
    margin-top: 10px;
    margin-left: 140px;
}
.logo{
    text-decoration: none;
}
/* hover: reacts with the mouse pointer */
.nav-link:hover {
    background-color:var(--primary-color);
    color: white;
}

/* Landing section styling */
.sub-texts{
    font-size: 16px;
    font-weight: 600;
}
.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container{
    width: 80%;
}
.sub-texts{
    width: 85%;
}
.landing-image:hover{
    transform: scale(1.22) rotate(0deg);
    transition: 0.8s;
}
/* product section styling */
.products{
    width: 330px;
    height: 476px;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 0px 0px 40px;
}
.product{
    margin: 12px;
    padding-top: 10px;
    align-items: center;
}
.products .product-details .product-title{
    font-size:28px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
    /* padding: 5px; */
}
.rating{
    display: flex;
    align-items: center;
}
.product-info{
    /* display: flex; */
    align-items: center;
}
.fa-star{
    font-size: 10px;
}
.rating-text{
    margin-left: 8px;
    margin-bottom:0;
}
.product-price{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 0px;
    margin-top: 5px;
    /* padding-left: 10px */
}
.rating-text, .product-description{
    font-family: 'Roboto', sans-serif;
    color: #787885;
    margin-top: 5px ;
}
.rating-text{
    font-size: 14px;
    font-weight: 700;
}